
#dropzone {
    border: 1px solid orange;
    padding: 10px 10px 10px 10px;
    height: 400px;
    width: 500px;
    display: -webkit-flex;
    display: flex;
}

#left-drop {
    height: 100%;
    width: 60%;
    margin-right: 5px;
}

#right-drop {
    height: 100%;
    width: 40%;
    margin-left: 5px;
}

#dropMain {
    height: 60%;
    width: 100%;
    border: 1px solid blue;
    cursor: pointer;
}

.drop {
    height: 30%;
    margin-bottom: 3%;
    flex: 1;
    width: 100%;
    border: 1px solid red;
    cursor: pointer;
}

#fileBox {
    display: none;
}